#contact {
    width: 100vw;
    height: 90vh;
    display: inline-block;
    padding-top: 7%;
}

.section-title {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding-bottom: 5%;
    font-size: 44px;
}

.contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon {
    padding: 50px;
    text-decoration: none;
    font-size: 40px;
}

@media screen and (max-width: 500px) {
    .contact-icon {
        padding: 25px;
        font-size: 30px;       
    }
}


@media screen and (max-width: 375px) {
    #contact {
        padding-top: 75px;
    }
}
