#contact {
    width: 100vw;
    height: 90vh;
    display: inline-block;
    padding-top: 5%;
}

#contact h2 {
    font-size: 44px;
    text-decoration: underline;    
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.contact-icon {
    text-decoration: none;
    font-size: 40px;
}

.contact-icon:hover {
    text-decoration: none;
    transform: scale(1.07);
}

@media screen and (max-width: 500px) {
    .contact-icon {
        padding: 25px;
        font-size: 30px;       
    }
}

@media screen and (max-width: 375px) {
    #contact {
        padding-top: 75px;
    }
}
